apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: camunda-doc-gen-backend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/abdos/camunda-doc-gen-backend.git' 
    targetRevision: HEAD
    path: amunda-doc-gen-backend
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
