replicaCount: 1

image:
  repository: docker.io/abdosblz/camunda-doc-gen
  pullPolicy: IfNotPresent
  tag: "0.0.2-2"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: camunda-doc-gen.example.com
      paths:
        - path: /
          pathType: Prefix

env:
  API_URL: "http://camunda-doc-gen.example.com/api"
