replicaCount: 1

image:
  repository: docker.io/abdosblz/camunda-doc-gen-backend
  pullPolicy: IfNotPresent
  tag: "0.0.1-SNAPSHOT-v5"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: camunda-doc-gen-backend.example.com
      paths:
        - path: /
          pathType: Prefix
